%br
= flash[:notice]
%br
- if user_signed_in?
  = link_to "Logout",destroy_user_session_path
- else
  To Test Twitter analysis you need to connect with Twitter.
  %br
  = link_to "Connect with Twitter",user_omniauth_authorize_path(:twitter)



